{% extends "layers/layer_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "Listen to Twitter" %} - {{ block.super }} {% endblock %}

{% block body_class %}layers explore{% endblock %}

{% block body %}
    <div class="page-header">
      <h2 class="page-title">{% trans "Listen to Twitter (Beta)" %}</h2>
    </div>

    <div class="row">
        <div class="container">
            This is a preview of the ChennaiFloodManagement Twitter app. It's currently under development, with a goal to
            be operational by July when the risk of flooding will be higher. <br> But it's started raining in Chennai today (16 May 2016)
            so we've deployed the app to test it with the <strong>#chennairains</strong> hashtag.<br><br>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Listen to a new Hashtag</div>
                <div class="panel-body">
                    <input type="text">
                    <button class="btn btn-default" type="submit">not working yet</button>
{#                     <form>#}
{#                        {% csrf_token %}#}
{#                        {{ form.as_p }}#}
{#                        <input type="submit" value="Start" formmethod="post">#}
{#                    </form>#}
                </div>
            </div>
        </div>

        <div class="col-md-3 table-responsive">

            <table class="table">
                <tr>
                    <th>Hashtag</th>
                    <th class="text-center">Status</th>
                </tr>

                {% for hash in hashtag_status %}
                    <tr>
                        <td>#{{ hash.hashtag }}</td>
                        {% if hash.is_listening %}
                            <td class="success text-center">On</td>
                            {% else %}
                            <td class="danger text-center">Off</td>
                            {% endif %}
                        </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div>
        <iframe style="border: groove;" height="800" width=100% src="http://data.chennaifloodmanagement.org/maps/65/embed"></iframe>
    </div>
{% endblock %}

{#{% block extra_script %}#}
{#  {% if GEONODE_SECURITY_ENABLED %}#}
{#    {% include "_permissions_form_js.html" %}#}
{#  {% endif %}#}
{#  <script type="text/javascript">#}
{#      {% if HAYSTACK_SEARCH %}#}
{#          SEARCH_URL = '{% url 'api_get_search' api_name='api' resource_name='base' %}?type__in=layer'#}
{#      {% else %}#}
{#          SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='layers' %}';#}
{#      {% endif %}#}
{#    FILTER_TYPE = 'layer';#}
{#  </script>#}
{#  {% with include_spatial='true' %}#}
{#  {% include 'search/search_scripts.html' %}#}
{#  {% endwith %}#}
{#{% endblock extra_script %}#}
